In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

import warnings
warnings.filterwarnings("ignore")  # 경고를 무시함

In [2]:
train = pd.read_csv("./smhrd/train.csv")
test = pd.read_csv("./smhrd/test.csv")

train.drop("ID",axis=1,inplace=True)
test.drop("ID",axis=1,inplace=True)

In [3]:
train.corr()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Reached.on.Time_Y.N
Customer_care_calls,1.000000,0.013420,0.047041,0.173709,-0.158465,-0.070266
Customer_rating,0.013420,1.000000,-0.001961,0.008217,-0.016456,0.011275
Cost_of_the_Product,0.047041,-0.001961,1.000000,0.028947,-0.139349,-0.012811
Prior_purchases,0.173709,0.008217,0.028947,1.000000,-0.081868,-0.065160
Discount_offered,-0.158465,-0.016456,-0.139349,-0.081868,1.000000,0.397393
Reached.on.Time_Y.N,-0.070266,0.011275,-0.012811,-0.065160,0.397393,1.000000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6999 non-null   object
 1   Mode_of_Shipment     6999 non-null   object
 2   Customer_care_calls  5423 non-null   float64
 3   Customer_rating      6999 non-null   int64
 4   Cost_of_the_Product  6999 non-null   int64
 5   Prior_purchases      6049 non-null   float64
 6   Product_importance   6999 non-null   object
 7   Gender               6999 non-null   object
 8   Discount_offered     3468 non-null   float64
 9   Weight_in_gms        6999 non-null   object
 10  Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 601.6+ KB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      4000 non-null   object
 1   Mode_of_Shipment     4000 non-null   object
 2   Customer_care_calls  3144 non-null   float64
 3   Customer_rating      4000 non-null   int64
 4   Cost_of_the_Product  4000 non-null   int64
 5   Prior_purchases      3633 non-null   float64
 6   Product_importance   4000 non-null   object
 7   Gender               4000 non-null   object
 8   Discount_offered     2085 non-null   float64
 9   Weight_in_gms        4000 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 312.6+ KB

In [6]:
train.columns

Index(['Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [7]:
test.columns

Index(['Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms'],
      dtype='object')

# 결측치 채우기

# Customer_care_calls

In [8]:
train[train['Customer_care_calls'].isnull()]

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
4,D,Flight,NaN,1,195,6.0,high,F,NaN,4944,1
8,F,Ship,NaN,1,274,4.0,low,M,3.0,5979,0
14,F,Ship,NaN,3,194,3.0,low,F,NaN,4331,0
17,B,Ship,NaN,1,228,2.0,low,F,2.0,5435,0
21,C,Flight,NaN,3,254,2.0,low,M,NaN,5546,0
...,...,...,...,...,...,...,...,...,...,...,...
6976,F,Flight,NaN,5,183,2.0,medium,F,2.0,4533,1
6977,F,Ship,NaN,1,222,NaN,medium,M,25.0,2582,1
6990,A,Flight,NaN,2,253,4.0,low,M,1.0,1294,1
6991,F,Ship,NaN,5,236,2.0,medium,M,2.0,5210,0
6996,D,Ship,NaN,1,300,5.0,low,F,10.0,1787,0

In [9]:
train.columns

Index(['Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [10]:
train['Warehouse_block '].unique()

array(['C', 'F', 'D', 'B', 'A'], dtype=object)

In [11]:
train.pivot_table(
    values='Customer_care_calls',
    index=['Warehouse_block '],
    aggfunc=['mean','count','max','min']
)

,mean,count,max,min
,Customer_care_calls,Customer_care_calls,Customer_care_calls,Customer_care_calls
Warehouse_block,,,,
A,4.056338,923,7.0,2.0
B,3.989899,891,7.0,2.0
C,4.059718,921,7.0,2.0
D,4.046409,905,7.0,2.0
F,4.087493,1783,7.0,2.0

In [12]:
# 평균 값으로 대체 하였다
# 평균 값은 약 4.05 이므로 4.0 으로 통합
# 데이터가 편중된 느낌이 있으나 추후 상관분포를 통해 분석 후 수정할 예정
train['Customer_care_calls'].value_counts()

4.0    1756
3.0    1620
5.0    1147
6.0     496
2.0     287
7.0     117
Name: Customer_care_calls, dtype: int64

In [13]:
test.pivot_table(
    values='Customer_care_calls',
    index=['Warehouse_block '],
    aggfunc=['mean','count','max','min']
)

,mean,count,max,min
,Customer_care_calls,Customer_care_calls,Customer_care_calls,Customer_care_calls
Warehouse_block,,,,
A,3.994118,510,7.0,2.0
B,4.063315,537,7.0,2.0
C,4.047151,509,7.0,2.0
D,4.074856,521,7.0,2.0
F,4.074039,1067,7.0,2.0

In [14]:
test['Customer_care_calls'].value_counts()

4.0    990
3.0    901
5.0    667
6.0    311
2.0    208
7.0     67
Name: Customer_care_calls, dtype: int64

In [15]:
train['Customer_care_calls'] = train['Customer_care_calls'].fillna(4)
test['Customer_care_calls'] = test['Customer_care_calls'].fillna(4)

# Prior_purchases

In [16]:
train[train['Prior_purchases'].isnull()]

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
3,F,Ship,3.0,2,228,NaN,medium,M,2.0,5640,0
11,F,Ship,4.0,1,196,NaN,low,F,3.0,5496,0
12,F,Ship,4.0,2,232,NaN,high,M,NaN,2835,1
16,B,Flight,5.0,1,207,NaN,low,F,NaN,4112,0
22,F,Ship,3.0,5,160,NaN,low,F,NaN,4106,0
...,...,...,...,...,...,...,...,...,...,...,...
6963,F,Road,3.0,3,250,NaN,medium,M,1.0,4717,0
6975,F,Ship,4.0,3,151,NaN,medium,F,NaN,?,0
6977,F,Ship,4.0,1,222,NaN,medium,M,25.0,2582,1
6986,C,Road,5.0,1,253,NaN,medium,M,12.0,2486,1
6988,F,Ship,6.0,5,167,NaN,low,M,NaN,4013,1

In [17]:
test[test['Prior_purchases'].isnull()]

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,F,Ship,3.0,1,274,NaN,high,M,NaN,4352
5,D,Ship,4.0,1,221,NaN,low,F,64.0,?
14,B,Ship,7.0,1,258,NaN,low,F,NaN,1482
18,A,Road,4.0,4,148,NaN,medium,F,NaN,4892
30,F,Ship,5.0,2,133,NaN,medium,M,53.0,1674
...,...,...,...,...,...,...,...,...,...,...
3954,C,Ship,3.0,2,183,NaN,medium,F,6.0,4313
3961,A,Flight,5.0,5,272,NaN,low,M,1.0,4883
3963,C,Flight,2.0,2,184,NaN,?,F,46.0,2484
3967,C,Flight,3.0,2,274,NaN,medium,M,5.0,5161
3982,B,Ship,3.0,4,257,NaN,medium,M,10.0,4670

In [18]:
print(train['Prior_purchases'].unique())

print(train['Prior_purchases'].value_counts())

print(train['Prior_purchases'].isnull().value_counts())

print(train['Prior_purchases'].mean())

# 결측치의 양이 많지 많고 평균값은 3.57이므로 4로 대체

train['Prior_purchases'] = train['Prior_purchases'].fillna(4)

[ 3.  5. nan  6.  4. 10.  2.  7.  8.]
3.0     2176
2.0     1423
4.0     1162
5.0      735
6.0      310
10.0     101
8.0       72
7.0       70
Name: Prior_purchases, dtype: int64
False    6049
True      950
Name: Prior_purchases, dtype: int64
3.5762936022483056

In [19]:
print(test['Prior_purchases'].unique())

print(test['Prior_purchases'].value_counts())

print(test['Prior_purchases'].isnull().value_counts())

print(test['Prior_purchases'].mean())

# 결측치의 양이 많지 많고 평균값은 3.57이므로 4로 대체

test['Prior_purchases'] = test['Prior_purchases'].fillna(4)

[nan  2.  3.  4.  6.  8.  5.  7. 10.]
3.0     1293
2.0      866
4.0      723
5.0      414
6.0      184
10.0      56
7.0       53
8.0       44
Name: Prior_purchases, dtype: int64
False    3633
True      367
Name: Prior_purchases, dtype: int64
3.5672997522708507

# Product_importance

In [20]:
train.loc[(train["Discount_offered"].isnull()) & (train["Product_importance"]=='loww')]
train.loc[(train["Discount_offered"].isnull()) & (train["Product_importance"]=='loww'),'Product_importance']='low'
train.iloc[1309,:]

Warehouse_block            D
Mode_of_Shipment        Ship
Customer_care_calls        4
Customer_rating            2
Cost_of_the_Product      222
Prior_purchases            3
Product_importance       low
Gender                     F
Discount_offered         NaN
Weight_in_gms           5130
Reached.on.Time_Y.N        0
Name: 1309, dtype: object

In [21]:
train.loc[(train["Discount_offered"].isnull()) & (train["Product_importance"]=='mediumm')]
train.loc[(train["Discount_offered"].isnull()) & (train["Product_importance"]=='mediumm'),'Product_importance']='medium'
train.iloc[919,:]

Warehouse_block              B
Mode_of_Shipment        Flight
Customer_care_calls          3
Customer_rating              4
Cost_of_the_Product        176
Prior_purchases              3
Product_importance      medium
Gender                       F
Discount_offered           NaN
Weight_in_gms             1567
Reached.on.Time_Y.N          1
Name: 919, dtype: object

In [22]:
test.loc[(test["Discount_offered"].isnull()) & (test["Product_importance"]=='mediumm')]
test.loc[(test["Discount_offered"].isnull()) & (test["Product_importance"]=='mediumm'),'Product_importance']='medium'

In [23]:
test.loc[test["Product_importance"]=='mediumm','Product_importance']='medium'
test.loc[test["Product_importance"]=='?','Product_importance']='low'

In [24]:
test["Product_importance"].value_counts()

low       1953
medium    1686
high       361
Name: Product_importance, dtype: int64

In [25]:
train.loc[(train["Product_importance"] == "highh")]
train.loc[(train["Product_importance"] == "highh"),'Product_importance'] = "high"
train.iloc[4224,:]

Warehouse_block            F
Mode_of_Shipment        Ship
Customer_care_calls        3
Customer_rating            4
Cost_of_the_Product      266
Prior_purchases            2
Product_importance      high
Gender                     M
Discount_offered          49
Weight_in_gms           2643
Reached.on.Time_Y.N        1
Name: 4224, dtype: object

In [26]:
train.loc[(train["Product_importance"] == "?")]
train.loc[(train["Product_importance"] == "?"),'Product_importance'] = "low"

In [27]:
train["Product_importance"].value_counts()

low       3442
medium    2983
high       574
Name: Product_importance, dtype: int64

In [28]:
# 0 - Ship 1 - Flight 2 - Road
train["Product_importance"].replace(['low','medium','high'],[0,1,2],inplace=True)
test["Product_importance"].replace(['low','medium','high'],[0,1,2],inplace=True)

# Discount_offered

In [29]:
train[train['Discount_offered'].isnull()].head()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,C,Ship,2.0,2,135,3.0,0,M,NaN,1339,1
2,F,Ship,3.0,1,229,3.0,0,M,NaN,4971,1
4,D,Flight,4.0,1,195,6.0,2,F,NaN,4944,1
5,B,Ship,4.0,5,171,3.0,0,F,NaN,1683,1
7,F,Flight,5.0,2,161,3.0,0,M,NaN,5804,1

In [30]:
print(train['Discount_offered'].unique())

print(train['Discount_offered'].value_counts())

print(train['Discount_offered'].isnull().value_counts())

print(train['Discount_offered'].mean())

[nan  6.  2.  9.  3. 34.  7.  1. 53.  8. 63.  4. 43. 60. 51.  5. 10. 55.
 17. 62. 15. 23. 38. 32. 39. 29. 45. 14. 52. 41. 58. 11. 50. 35. 28. 31.
 24. 64. 61. 48. 65. 40. 18. 22. 56. 49. 21. 27. 20. 13. 30. 26. 54. 16.
 57. 47. 42. 36. 37. 46. 19. 12. 25. 44. 33. 59.]
9.0     287
10.0    278
2.0     278
3.0     277
1.0     272
       ...
50.0     10
18.0     10
42.0      9
26.0      8
43.0      7
Name: Discount_offered, Length: 65, dtype: int64
True     3531
False    3468
Name: Discount_offered, dtype: int64
13.269031141868512

In [31]:
print(test['Discount_offered'].unique())

print(test['Discount_offered'].value_counts())

print(test['Discount_offered'].isnull().value_counts())

print(test['Discount_offered'].mean())

[nan  7.  5. 64.  4. 29. 10.  8. 31. 53.  1. 22. 49.  3. 52.  6.  9. 20.
 61.  2. 39. 43. 48. 54. 26. 42. 46. 41. 16. 13. 15. 35. 28. 34. 33. 37.
 27. 36. 63. 40. 62. 38. 25. 51. 45. 32. 50. 21. 58. 65. 57. 17. 24. 12.
 47. 56. 60. 59. 30. 18. 55. 19. 11. 23. 44. 14.]
3.0     171
7.0     170
5.0     169
6.0     166
8.0     161
       ...
58.0      4
30.0      4
55.0      4
34.0      3
65.0      2
Name: Discount_offered, Length: 65, dtype: int64
False    2085
True     1915
Name: Discount_offered, dtype: int64
13.282014388489209

In [32]:
train["Discount_offered"].unique()

array([nan,  6.,  2.,  9.,  3., 34.,  7.,  1., 53.,  8., 63.,  4., 43.,
       60., 51.,  5., 10., 55., 17., 62., 15., 23., 38., 32., 39., 29.,
       45., 14., 52., 41., 58., 11., 50., 35., 28., 31., 24., 64., 61.,
       48., 65., 40., 18., 22., 56., 49., 21., 27., 20., 13., 30., 26.,
       54., 16., 57., 47., 42., 36., 37., 46., 19., 12., 25., 44., 33.,
       59.])

In [33]:
train.pivot_table(
    values='Discount_offered',
    index='Prior_purchases',
    aggfunc=['mean','count','max','min']
)

,mean,count,max,min
,Discount_offered,Discount_offered,Discount_offered,Discount_offered
Prior_purchases,,,,
2.0,14.889855,690,65.0,1.0
3.0,15.493188,1101,65.0,1.0
4.0,11.373814,1054,65.0,1.0
5.0,9.011799,339,64.0,1.0
6.0,11.166667,168,65.0,1.0
7.0,20.178571,28,62.0,1.0
8.0,12.756098,41,61.0,1.0
10.0,14.425532,47,64.0,1.0

In [34]:
test.pivot_table(
    values='Discount_offered',
    index='Prior_purchases',
    aggfunc=['mean','count','max','min']
)

,mean,count,max,min
,Discount_offered,Discount_offered,Discount_offered,Discount_offered
Prior_purchases,,,,
2.0,14.977578,446,65.0,1.0
3.0,14.705202,692,64.0,1.0
4.0,11.393773,546,64.0,1.0
5.0,9.364865,222,61.0,1.0
6.0,12.303030,99,63.0,1.0
7.0,15.560000,25,56.0,1.0
8.0,16.523810,21,56.0,2.0
10.0,17.147059,34,59.0,1.0

In [35]:
train["Discount_offered"] = train["Discount_offered"].fillna(2)
test["Discount_offered"] = test["Discount_offered"].fillna(2)

In [36]:
#train['Discount_offered'] = pd.cut(train.Discount_offered, bins=[-1,10,20,30,40,50,60,70,90],
#                        labels=['0','1','2','3','4','5','6','7'])

# shipment

In [37]:
train["Mode_of_Shipment"].unique()

array([' Ship', ' Flight', ' Road', '?', ' Shipzk', ' Flightzk',
       ' Roadzk'], dtype=object)

In [38]:
test["Mode_of_Shipment"].unique()

array([' Ship', ' Flight', '?', ' Road', ' Shipzk', ' Roadzk'],
      dtype=object)

In [39]:
train.loc[(train["Mode_of_Shipment"] == "?")]
train.loc[(train["Mode_of_Shipment"] == "?"),'Mode_of_Shipment'] = " Ship"

test.loc[(test["Mode_of_Shipment"] == "?")]
test.loc[(test["Mode_of_Shipment"] == "?"),'Mode_of_Shipment'] = " Ship"

In [40]:
train.loc[(train["Mode_of_Shipment"] == " Shipzk")]
train.loc[(train["Mode_of_Shipment"] == " Shipzk"),'Mode_of_Shipment'] = " Ship"
train.loc[(train["Mode_of_Shipment"] == " Ship"),'Mode_of_Shipment'] = "Ship"

test.loc[(test["Mode_of_Shipment"] == " Shipzk")]
test.loc[(test["Mode_of_Shipment"] == " Shipzk"),'Mode_of_Shipment'] = " Ship"
test.loc[(test["Mode_of_Shipment"] == " Ship"),'Mode_of_Shipment'] = "Ship"

In [41]:
train.loc[(train["Mode_of_Shipment"] == " Flightzk")]
train.loc[(train["Mode_of_Shipment"] == " Flightzk"),'Mode_of_Shipment'] = " Flight"
train.loc[(train["Mode_of_Shipment"] == " Flight"),'Mode_of_Shipment'] = "Flight"

test.loc[(test["Mode_of_Shipment"] == " Flightzk")]
test.loc[(test["Mode_of_Shipment"] == " Flightzk"),'Mode_of_Shipment'] = " Flight"
test.loc[(test["Mode_of_Shipment"] == " Flight"),'Mode_of_Shipment'] = "Flight"

In [42]:
train.loc[(train["Mode_of_Shipment"] == " Roadzk")]
train.loc[(train["Mode_of_Shipment"] == " Roadzk"),'Mode_of_Shipment'] = " Road"
train.loc[(train["Mode_of_Shipment"] == " Road"),'Mode_of_Shipment'] = "Road"

test.loc[(test["Mode_of_Shipment"] == " Roadzk")]
test.loc[(test["Mode_of_Shipment"] == " Roadzk"),'Mode_of_Shipment'] = " Road"
test.loc[(test["Mode_of_Shipment"] == " Road"),'Mode_of_Shipment'] = "Road"

In [43]:
print(train["Mode_of_Shipment"].unique())
print(test["Mode_of_Shipment"].unique())

['Ship' 'Flight' 'Road']
['Ship' 'Flight' 'Road']

In [44]:
# 0 - Ship 1 - Flight 2 - Road
train["Mode_of_Shipment"].replace(['Ship','Flight','Road'],[0,1,2],inplace=True)
test["Mode_of_Shipment"].replace(['Ship','Flight','Road'],[0,1,2],inplace=True)

# Warehouse block

In [45]:
train['Warehouse_block '].unique()

array(['C', 'F', 'D', 'B', 'A'], dtype=object)

In [46]:
train["Warehouse_block "].replace(['A','B','C','D','F'],[0,1,2,3,4],inplace=True)
test["Warehouse_block "].replace(['A','B','C','D','F'],[0,1,2,3,4],inplace=True)

In [47]:
train.corr()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Discount_offered,Reached.on.Time_Y.N
Warehouse_block,1.000000,-0.002938,0.015662,0.001960,-0.000729,-0.007717,0.000344,-0.003136,-0.003872
Mode_of_Shipment,-0.002938,1.000000,0.023873,-0.003095,-0.000791,0.020354,0.014742,0.003967,0.005801
Customer_care_calls,0.015662,0.023873,1.000000,0.012948,0.046959,0.141471,-0.056691,-0.095792,-0.062842
Customer_rating,0.001960,-0.003095,0.012948,1.000000,-0.001961,0.007749,0.009600,-0.012765,0.011275
Cost_of_the_Product,-0.000729,-0.000791,0.046959,-0.001961,1.000000,0.027686,0.001771,-0.028309,-0.012811
Prior_purchases,-0.007717,0.020354,0.141471,0.007749,0.027686,1.000000,0.017363,-0.048063,-0.062230
Product_importance,0.000344,0.014742,-0.056691,0.009600,0.001771,0.017363,1.000000,0.024338,0.020316
Discount_offered,-0.003136,0.003967,-0.095792,-0.012765,-0.028309,-0.048063,0.024338,1.000000,0.251016
Reached.on.Time_Y.N,-0.003872,0.005801,-0.062842,0.011275,-0.012811,-0.062230,0.020316,0.251016,1.000000

# Gender

In [48]:
train['Gender'].unique()

array(['M', 'F'], dtype=object)

In [49]:
train['Gender'].replace(['M','F'],[0,1],inplace=True)
test['Gender'].replace(['M','F'],[0,1],inplace=True)

# Weight_in_gms

In [50]:
train[train["Weight_in_gms"]=="?"]

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
47,3,0,4.0,2,281,4.0,2,1,5.0,?,1
65,3,0,4.0,1,249,6.0,1,0,2.0,?,1
67,0,0,3.0,2,213,6.0,1,0,2.0,?,1
82,0,0,4.0,1,105,6.0,1,0,62.0,?,1
90,2,0,4.0,2,189,6.0,0,0,2.0,?,0
...,...,...,...,...,...,...,...,...,...,...,...
6889,3,0,7.0,5,282,5.0,0,0,2.0,?,1
6914,0,0,5.0,4,157,4.0,0,0,2.0,?,1
6945,3,0,2.0,2,219,3.0,0,1,2.0,?,1
6972,4,2,4.0,2,257,3.0,0,1,25.0,?,1
6975,4,0,4.0,3,151,4.0,1,1,2.0,?,0

In [51]:
train = train.drop("Weight_in_gms",axis=1)
test = test.drop("Weight_in_gms",axis=1)

In [52]:
print(train["Warehouse_block "].value_counts())

4    2311
2    1184
0    1174
3    1168
1    1162
Name: Warehouse_block , dtype: int64

In [53]:
print(train["Mode_of_Shipment"].value_counts())

0    4883
2    1076
1    1040
Name: Mode_of_Shipment, dtype: int64

In [54]:
print(train["Customer_care_calls"].value_counts())

4.0    3332
3.0    1620
5.0    1147
6.0     496
2.0     287
7.0     117
Name: Customer_care_calls, dtype: int64

In [55]:
print(train["Customer_rating"].value_counts())

3     1451
2     1399
5     1399
1     1391
4     1357
99       2
Name: Customer_rating, dtype: int64

In [56]:
print(train["Cost_of_the_Product"].value_counts())

254    73
250    68
263    67
243    67
264    66
       ..
96      3
122     2
302     2
119     2
97      1
Name: Cost_of_the_Product, Length: 216, dtype: int64

In [57]:
print(train["Prior_purchases"].value_counts())

3.0     2176
4.0     2112
2.0     1423
5.0      735
6.0      310
10.0     101
8.0       72
7.0       70
Name: Prior_purchases, dtype: int64

In [58]:
print(train["Product_importance"].value_counts())

0    3442
1    2983
2     574
Name: Product_importance, dtype: int64

In [59]:
print(train["Gender"].value_counts())

0    3509
1    3490
Name: Gender, dtype: int64

In [60]:
print(train["Discount_offered"].value_counts())

2.0     3809
9.0      287
10.0     278
3.0      277
1.0      272
        ...
50.0      10
18.0      10
42.0       9
26.0       8
43.0       7
Name: Discount_offered, Length: 65, dtype: int64

In [61]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6999 non-null   int64
 1   Mode_of_Shipment     6999 non-null   int64
 2   Customer_care_calls  6999 non-null   float64
 3   Customer_rating      6999 non-null   int64
 4   Cost_of_the_Product  6999 non-null   int64
 5   Prior_purchases      6999 non-null   float64
 6   Product_importance   6999 non-null   int64
 7   Gender               6999 non-null   int64
 8   Discount_offered     6999 non-null   float64
 9   Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(3), int64(7)
memory usage: 546.9 KB

# 라벨인코딩

In [62]:
train.columns

Index(['Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered',
       'Reached.on.Time_Y.N'],
      dtype='object')

## Cost_of_the_Product

In [63]:
bins=[0,100,150,200,250,10000]
labels = ['0','1','2','3','4']
train['Cost_of_the_Product']=pd.cut(train['Cost_of_the_Product'], bins=bins, labels=labels)
test['Cost_of_the_Product']=pd.cut(test['Cost_of_the_Product'], bins=bins, labels=labels)

train['Cost_of_the_Product'] = train['Cost_of_the_Product'].astype("int64")
test['Cost_of_the_Product'] = test['Cost_of_the_Product'].astype("int64")

In [64]:
print(train['Cost_of_the_Product'].unique())
print(test['Cost_of_the_Product'].unique())

[1 3 2 4 0]
[4 1 3 2 0]

## Discount_offered

In [65]:
bins=[0,10,20,30,40,50,60,70]
labels = ['0','1','2','3','4','5','6']
train['Discount_offered']=pd.cut(train['Discount_offered'], bins=bins, labels=labels)
test['Discount_offered']=pd.cut(test['Discount_offered'], bins=bins, labels=labels)

train['Discount_offered'] = train['Discount_offered'].astype("int64")
test['Discount_offered'] = test['Discount_offered'].astype("int64")

In [66]:
print(train['Discount_offered'].unique())
print(test['Discount_offered'].unique())

[0 3 5 6 4 1 2]
[0 6 2 3 5 4 1]

In [67]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6999 non-null   int64
 1   Mode_of_Shipment     6999 non-null   int64
 2   Customer_care_calls  6999 non-null   float64
 3   Customer_rating      6999 non-null   int64
 4   Cost_of_the_Product  6999 non-null   int64
 5   Prior_purchases      6999 non-null   float64
 6   Product_importance   6999 non-null   int64
 7   Gender               6999 non-null   int64
 8   Discount_offered     6999 non-null   int64
 9   Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 546.9 KB

In [68]:
train.corr()

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Reached.on.Time_Y.N
Warehouse_block,1.000000,-0.002938,0.015662,0.001960,-0.001089,-0.007717,0.000344,-0.001708,-0.001135,-0.003872
Mode_of_Shipment,-0.002938,1.000000,0.023873,-0.003095,0.016738,0.020354,0.014742,0.000511,0.006579,0.005801
Customer_care_calls,0.015662,0.023873,1.000000,0.012948,0.256041,0.141471,-0.056691,-0.001320,-0.099030,-0.062842
Customer_rating,0.001960,-0.003095,0.012948,1.000000,0.006045,0.007749,0.009600,0.004550,-0.010628,0.011275
Cost_of_the_Product,-0.001089,0.016738,0.256041,0.006045,1.000000,0.107256,-0.036888,-0.013639,-0.082708,-0.062683
Prior_purchases,-0.007717,0.020354,0.141471,0.007749,0.107256,1.000000,0.017363,0.005797,-0.051080,-0.062230
Product_importance,0.000344,0.014742,-0.056691,0.009600,-0.036888,0.017363,1.000000,-0.013408,0.023606,0.020316
Gender,-0.001708,0.000511,-0.001320,0.004550,-0.013639,0.005797,-0.013408,1.000000,-0.001395,0.000378
Discount_offered,-0.001135,0.006579,-0.099030,-0.010628,-0.082708,-0.051080,0.023606,-0.001395,1.000000,0.269127
Reached.on.Time_Y.N,-0.003872,0.005801,-0.062842,0.011275,-0.062683,-0.062230,0.020316,0.000378,0.269127,1.000000

# 분리

In [69]:
X = train.iloc[:,:-1]
y = train.iloc[:,-1]

In [70]:
print(X.shape)
print(y.shape)

(6999, 9)
(6999,)

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      6999 non-null   int64
 1   Mode_of_Shipment     6999 non-null   int64
 2   Customer_care_calls  6999 non-null   float64
 3   Customer_rating      6999 non-null   int64
 4   Cost_of_the_Product  6999 non-null   int64
 5   Prior_purchases      6999 non-null   float64
 6   Product_importance   6999 non-null   int64
 7   Gender               6999 non-null   int64
 8   Discount_offered     6999 non-null   int64
 9   Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 546.9 KB

In [72]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Warehouse_block      4000 non-null   int64
 1   Mode_of_Shipment     4000 non-null   int64
 2   Customer_care_calls  4000 non-null   float64
 3   Customer_rating      4000 non-null   int64
 4   Cost_of_the_Product  4000 non-null   int64
 5   Prior_purchases      4000 non-null   float64
 6   Product_importance   4000 non-null   int64
 7   Gender               4000 non-null   int64
 8   Discount_offered     4000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 281.4 KB

# one-hot 인코딩

In [73]:
onehot_column = ['Warehouse_block ','Mode_of_Shipment','Customer_care_calls','Customer_rating','Cost_of_the_Product','Prior_purchases','Product_importance','Gender','Discount_offered']

for col in onehot_column:
    dummy = pd.get_dummies(X[col],prefix = col)
    dummy2 = pd.get_dummies(test[col],prefix = col)
    X = pd.concat([X,dummy], axis = 1)
    X.drop(col,axis=1, inplace = True)
    test = pd.concat([test,dummy2], axis = 1)
    test.drop(col,axis=1, inplace = True)

# split

In [74]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3,random_state = 3)

# Decision Tree

In [75]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=4)

tree.fit(X_train,y_train)
tree.score(X_train,y_train)
tree.score(X_test,y_test)

print(tree.score(X_train,y_train))
print(tree.score(X_test,y_test))

from sklearn.model_selection import cross_val_score
result = cross_val_score(tree, X, y, cv=6)
print(result.mean())

pred = tree.predict(test)

submission = pd.read_csv("./smhrd/sampleSubmission.csv")
submission['Reached.on.Time_Y.N'] = pred
submission.to_csv("01.csv", index = False)

0.6044090630740968
0.6080952380952381
0.5886594273726252

# random forest

In [79]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=1200, max_features=0.7, max_depth=10,min_samples_leaf=10,max_leaf_nodes=80)

forest.fit(X,y)
forest.score(X,y)

print(forest.score(X,y))

result = cross_val_score(forest, X, y, cv=8)
print(result.mean())

pred = forest.predict(test)

submission = pd.read_csv("./smhrd/sampleSubmission.csv")
submission['Reached.on.Time_Y.N'] = pred
submission.to_csv("02.csv", index = False)

0.6668095442206029
0.5897987904543969

# XGB

In [ ]:
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators =50,max_depth=5,learning_rat=0.1)
# 파라미터를 설정해주지 않으면 모델내에 설정된 기본값으로 지정됨

xgb.fit(X,y)
xgb.score(X,y)

print(xgb.score(X,y))

result = cross_val_score(xgb, X, y, cv=5)
print(result.mean())

#pred = xgb.predict(test)

#submission = pd.read_csv("C:/Users/SM2134/빅데이터_5차_장기/캐글/sampleSubmission.csv")
#submission['Reached.on.Time_Y.N'] = pred
#submission.to_csv("03.csv", index = False)

# Ada boost

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(criterion='friedman_mse',init=None,
                                learning_rate=0.4, loss='deviance',max_depth=5,
                                max_features=None, max_leaf_nodes=None,
                                min_impurity_decrease=0.0, min_impurity_split=None,
                                min_samples_leaf=1,min_samples_split=2,
                                min_weight_fraction_leaf=0.0,n_estimators=100,
                                n_iter_no_change=None, presort='auto',
                                random_state=100, subsample=1.0, tol=0.0001,
                                validation_fraction=0.1,verbose=0,
                                warm_start=False)

gbc.fit(X,y)
gbc.score(X,y)

print(gbc.score(X,y))

result = cross_val_score(gbc, X, y, cv=5)
print(result.mean())

#pred = gbc.predict(test)

#submission = pd.read_csv("C:/Users/SM2134/빅데이터_5차_장기/캐글/sampleSubmission.csv")
#submission['Reached.on.Time_Y.N'] = pred
#submission.to_csv("04.csv", index = False)

# lgbm

In [ ]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(max_depth=5,n_estimators=50,learning_rate=0.1)

lgbm.fit(X, y)
lgbm.score(X,y)
print(lgbm.score(X,y))

result = cross_val_score(lgbm, X, y, cv=5)
print(result.mean())

#pred = lgbm.predict(test)

#submission = pd.read_csv("C:/Users/SM2134/빅데이터_5차_장기/캐글/sampleSubmission.csv")
#submission['Reached.on.Time_Y.N'] = pred
#submission.to_csv("05.csv", index = False)

# KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

train_acc =[]
neighbor = range(1,15,2)

for n in neighbor:
    knn_model = KNeighborsClassifier(n_neighbors=n)
    knn_model.fit(X,y)
    
    train_acc.append(knn_model.score(X,y))
    
plt.plot(neighbor, train_acc, label="train")
plt.legend(loc="best")
plt.ylabel("score")
plt.xlabel("neighbors")
plt.show()