## 서울시 구별cctv현황 분석하기
서울시 각 구별cctv수 파악/
인구대비 cctv 비율을 파악해서 순위매기기/
인구대비 cctv의 예측치를 확인하고, cctv가 부족한 구 확인

In [1]:
#nympy: 고성능 과학계산을 위한 라이브러리, 다차원데이터
#pandas: 데이터를 표 형식으로 보여줌 1,2차원 데이트
#matplotlib: 데이터 시각화

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 1.CSV파일 읽어오기-서울시 구별CCTC현황

In [7]:
cctv_seoul=pd.read_csv('CCTV_in_Seoul.csv',
                      encoding='utf-8')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

### 2.엑셀(xls)파일 읽기- 서울시 인구 현황

In [8]:
#read_excel 사용하여 population_in_seoul파일 읽어오기
#encoding
#utf-8/ecu-kr/cp949
pop_seoul=pd.read_excel('population_in_seoul.xls')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

### 3.데이터 전처리

In [14]:
# cctv데이터 컬럼명 수정
# 기관명 > 구별
# rename({바꿀 값 : 바뀔 값}) : 컬럼명 바꾸기

# 값을 저장하는 두가지 방법
# 1. 동일변수에 출력값 저장하기
# 1. cctv_seoul = cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"})
# 2. inplace = True 속성 사용하기 : 출력 > 저장
# 2. cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"}, inplace = True)

cctv_seoul.rename(columns={cctv_seoul.columns[0]:"구별"}, inplace = True)
ctv_seoul

SyntaxError: invalid syntax (<ipython-input-14-d7260e69a472>, line 11)

In [ ]:
pop_seoul=pd.read_excel('population_in_seoul.xls')
pop_seoul.head()